/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.well-known
/cgi-bin
/dokumen
/farindra
/portfolio-master
/projects
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
composer.lock
*.zip
